*.zip
__pycache__/
*.pyc
.env
*.pem
credentials.json
functions/aws_xray_sdk/
functions/aws_xray_sdk-*.dist-info/
functions/wrapt/
functions/wrapt-*.dist-info/
functions/wrapt-stubs/
functions/botocore/
functions/botocore-*.dist-info/
functions/bin/
functions/jmespath/
functions/jmespath-*.dist-info/
functions/dateutil/
functions/python_dateutil-*.dist-info/
functions/six.py
functions/six-*.dist-info/
functions/urllib3/
functions/urllib3-*.dist-info/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
